<div xmlns:th="http://www.thymeleaf.org">
	<form action="searchByName.html" method="get" role="form">
		<div class="row">
			<div >
				<label>Search for Item by Name</label>
			</div>
			<div >
				<input type="text"  name="query" />
			</div>
		</div>
		<div class="row">
			<button type="submit" name="submit" >Submit</button>
		</div>
	</form>
</div>